# Binaries
terraform-provider-alwaysdata
*.dll
*.exe
.DS_Store
example.tf
bin/

# Builds
build/

# Terraform
terraform.tfplan
terraform.tfstate
./*.tfstate
.terraform/
.terraform.lock.hcl

dist/
modules-dev/

website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/

*.backup
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf

